:root {
  --primary-color: white;
  --clicked-link-color: rgb(1, 8, 49);
}

.temperature {
  color: var(--primary-color);
  font-size: 115px;
  font-weight: bold;
  line-height: 70px;
  position: relative;
  top: 7px;
}

.unit {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: -50px;
  color: var(--primary-color);
}

.temperature {
  padding-right: 12px;
}

@media (max-width: 576px) {
  .temperature {
    font-size: 70px;
    line-height: 70px;
    position: relative;
    top: 10px;
    text-align: center;
    padding-left: 100px;
  }

  .unit {
    font-size: 24px;
    position: relative;
    top: -23px;
  }
}

@media (max-width: 768px) {
  .temperature {
    font-size: 70px;
    line-height: 70px;
    position: relative;
    top: 10px;
    text-align: center;
    padding-right: 2px;
  }

  .unit {
    font-size: 24px;
    position: relative;
    top: -23px;
  }
}
