:root {
  --primary-color: white;
  --clicked-link-color: rgb(1, 8, 49);
}

.temperature {
  color: var(--primary-color);
  font-size: 115px;
  font-weight: bold;
  line-height: 70px;
  position: relative;
  top: 7px;
}

.unit a {
  font-size: 18px;
  line-height: 1;
  position: relative;
  top: -48px;
}

a {
  background: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 90px;
  padding: 5px 9px;
  color: var(--primary-color);
}

a:active {
  background: var(--primary-color);
  color: var(--clicked-link-color);
}

a:hover {
  background: var(--primary-color);
  color: var(--clicked-link-color);
}


