.WeatherForecast {
  text-align: center;
  padding: 25px 0px 5px;
}

.forecast-day {
  border: 2px solid white;
  border-radius: 45px;
  padding: 20px 10px 15px;
  color: white;
}

.dayOfTheWeek {
  font-weight: bold;
  font-size: 22px;
}

.forecast-high-temp {
  margin-top: 5px;
  color: rgb(250, 206, 189);
  font-weight: bolder;
  font-size: 20px;
}

.forecast-low-temp {
  color: rgb(174, 223, 255);
  font-weight: lighter;
}

@media (max-width: 576px) {
  .forecast-day {
    padding: 10px auto;
    margin: 15px auto;
  }

  .row .dayOfTheWeek,
  .row .month-date {
    display: flex;
    flex-direction: column;
  }

  .dayOfTheWeek {
    font-weight: bold;
    font-size: 28px;
  }
}
/* How can I style the forecast days in mobile version so that the DayOfTheWeek & Month/dayNumber are in one row and the weather icon and high/low temps in a second row within the forecast day column?*/
