.WeatherForecast {
  text-align: center;
  padding: 25px 0px 5px;
}

.forecast-day {
  border: 2px solid white;
  border-radius: 45px;
  padding: 20px 10px;
  color: white;
}

.dayOfTheWeek {
  font-weight: bold;
  font-size: 22px;
}

.forecast-high-temp {
  margin-top: 5px;
  color: rgb(250, 206, 189);
  font-weight: bolder;
  font-size: 20px;
}

.forecast-low-temp {
  color: rgb(174, 223, 255);
  font-weight: lighter;
}

@media (max-width: 576px) {
  .forecast-day {
    padding: 10px 0px;
    margin: 15px 40px;
  }

  .dayOfTheWeek {
    font-weight: bold;
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .weather-info {
    padding-left: 30px;
    margin-right: 5px;
  }
}
