:root {
  --primary-color: white;
  --secondary-color: rgb(223, 217, 217);
}

.Weather {
  font-family: "Quicksand", sans-serif;
  color: var(--secondary-color);
  background: rgba(0, 0, 0, 0.178);
  border: 10px solid var(--primary-color);
  border-radius: 90px;
  padding: 40px;
  margin: 60px 70px 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.43);
}

.Weather h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.city-input {
  background: transparent;
  border: 4px solid white;
  border-radius: 90px;
  color: var(--primary-color);
  width: 459px;
}

.city-input::placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.search-button {
  background: transparent;
  color: var(--primary-color);
  height: 44px;
  padding: 3px 15px;
  border: 4px solid white;
  border-radius: 90px;
}
.search-button {
  margin-left: -10px;
}

.Weather .content {
  z-index: 1;
  position: relative;
}

.Weather .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
