:root {
  --primary-color: white;
}

.temperature {
  color: var(--primary-color);
  font-size: 115px;
  font-weight: bold;
  line-height: 70px;
  position: relative;
  top: 7px;
}

.unit button {
  font-size: 18px;
  line-height: 1;
  position: relative;
  top: -60px;
}

button {
  background: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 90px;
  padding: 5px 9px;
  color: var(--primary-color);
}
